.card-product {
  opacity: 0;
  //animation: 0.5s ease-out 0.05s 1 cardAppearance;
  animation-name: cardAppearance;
  animation-duration: 0.5s;
  animation-delay: calc(var(--index) * 100ms);
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes cardAppearance {
  0% {
    opacity: 0;
    transform: scale(0.75) translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.common-filter {
  //opacity: 0;
  animation-name: commonFilterAppearance;
  animation-duration: 0.5s;
  //animation-delay: 0;
  //animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  transform: scaleY(0.1)
}

@keyframes commonFilterAppearance {
  0% {
    transform: scaleY(0.1) translateY(-75%);
  }
  100% {
    transform: scaleY(1) translateY(0);
  }
}

.flip-card {
  background-color: transparent;
  width: 263px;
  height: 280px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #7b838a;
  color: white;
  transform: rotateY(180deg);
}

.card-back-img {
  position: absolute;
  left: 0;
}